.auth-form {
  width: 100%;
  max-width: 530px;

  &__button,
  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__change-form {
    cursor: pointer;
    color: blue;
    text-decoration: underline;

    &:hover {
      opacity: 0.7;
    }
  }
}
